@import '~antd/dist/antd.css';

.App {
  text-align: center;
  background-color: #5e5e5e;
}

.header {
  padding: 1rem;
  background-color: #5e5e5e;
  font-size: 1.5rem;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.settings {
  padding: 1rem 2rem 0 2rem;
  background-color: #5e5e5e;
  height: 92vh;
}

.setting {
  padding: 1rem 0;
}

.setting_name {
  font-size: 1rem;
  color: #fff;
}

.image_hero {
  display: block;
  width: 100%;
  height: 74vh;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  animation: opactityChange 1s ease-out
}


.input {
  margin: 2rem 0 1rem 0;
}

.image_filter {
  display: block;
  width: 100%;
  height: 18vh !important;
  background-size: cover;
  background-position: center;
  animation: opactityChange 1s ease-out
}


.filter {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  filter: blur(0);
  transform: scale(1);
}

.filter:hover {
  filter: blur(1px);
  transform: scale(1.02);
}

.footer {
  display: block;
  background-color: #5e5e5e;
  padding: 1.5rem;
}

.footer_icon {
  display: inline-block;
  width: 2rem;
  margin: 1rem 0 0 1rem;
  color: #fa1c1f;
}

.footer_text {
  font-size: 1rem;
  margin-top: 1rem;
  color: #fa1c1f;
}

.spinner {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}

@keyframes opactityChange {
  0% {
      opacity: 0;

  }

  50% {
      opacity: 100%;


  }

  100% {
      opacity: 100%;

  }
}