@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.header {
  padding: 1rem;
  background-color: #5e5e5e;
  font-size: 1.5rem;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.settings {
  padding: 4rem 2rem 4rem 2rem;
  background-color: #5e5e5e;
  height: 100vh;
}

.setting {
  padding: 2rem 0;
}

.setting_name {
  font-size: 1rem;
  color: #fff;
}