@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.header {
  padding: 1rem;
  background-color: #5e5e5e;
  font-size: 1.5rem;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.settings {
  padding: 1rem 2rem 0 2rem;
  background-color: #5e5e5e;
  height: 92vh;
}

.setting {
  padding: 1rem 0;
}

.setting_name {
  font-size: 1rem;
  color: #fff;
}

.image {
  display: block;
  width: 100%;
  height: 92vh;
  background-size: cover;
  background-position: center;
}

.input {
  margin: 2rem 0 1rem 0;
}